* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
}

.section {
  border: 1px solid #ccc;
  max-width: 600px;

  margin: 12px;
  padding: 24px;
  border-radius: 8px;
}

h1 {
  font-size: 24px;
  margin: 0;
  padding: 0;
}

p {
  font-size: 16px;
}
